{% assign unifi_sites = IDX_0.data %}
{% assign unifi_hosts = IDX_1.data %}
{% assign unifi_devices = IDX_2.data %}
{% assign unifi_site_id = trmnl.plugin_settings.custom_fields_values.unifi_site_id %}
{% assign unifi_show_devices = trmnl.plugin_settings.custom_fields_values.unifi_show_devices %}

{% comment %} Filter sites by unifi_site_id if specified {% endcomment %}
{% if unifi_site_id and unifi_site_id != '' %}
  {% assign unifi_sites = unifi_sites | where: 'siteId', unifi_site_id %}
{% endif %}

{% template host_card %}
<div class="flex flex--row">
  <div class="grow">
    <div class="flex flex--row lg:portrait:flex--col">
      <div class="stretch mb--3">
        <div class="">
          <span class="title title--large lg:title--xlarge">{{ host.reportedState.name }}</span>
        </div>
        {% if host.reportedState.state != 'connected' %}
        <div>
          <span class="label label--small lg:label--base label--inverted">⚠︎ {{ host.reportedState.state }}</span>
        </div>
        {% endif %}
        <div>
          <span class="description label--small lg:label--base">{{ host.reportedState.hardware.shortname }} • {{ site.meta.desc }} • {{ site.statistics.percentages.wanUptime | round: 2 }}% Uptime - {{ site.statistics.ispInfo.name }}</span>
        </div>
      </div>
      <div class="">
        <div class="">
          <span class="label label--outline label--small lg:label--base">{{ host.reportedState.ip }}</span>
          <span class="label label--outline label--small lg:label--base">{{ site.statistics.counts.totalDevice }} Devices</span>
          <span class="label label--outline label--small lg:label--base">{{ site.statistics.counts.wifiClient | plus: site.statistics.counts.wiredClient }} Clients</span>
          {% if site.statistics.counts.offlineDevice > 0 %}
            <span class="label label--outline label--small lg:label--base">{{ site.statistics.counts.offlineDevice }} Offline</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endtemplate %}

{% template device_card %}
<div class="item">
  <div class="meta"></div>
  <div class="content">
    <div>
      <span class="title title--small" data-clamp="none">{{ device.name }}</span>
    </div>
    <div class="">
      {% if device.status != 'online' %}
        <span class="label label--inverted label--small lg:label--base">⚠︎</span>
      {% endif %}
      {% if device.isConsole %}
      <span class="label label--outline label--small lg:label--base">Console</span>
      {% endif %}
      <span class="label label--outline label--small lg:label--base">{{ device.model }}</span>
      <span class="label label--outline label--small lg:label--base">{{ device.ip }}</span>
    </div>
  </div>
</div>
{% endtemplate %}
